.logo{
    width: 100px;
}

.nav-bar{
    list-style: none;
    display: flex;
    justify-content: right;
}

li{
    padding: 0 5px;
}

.header{
    display: flex;
    border: 1px solid black;
}

.search-bar{
    margin: 2px;
    padding: 5px;
    border: 1px solid black;
}

.food-pic{
    width: 300px;
}

.rest-card{
    margin: 2px;
    padding: 5px 10px;
    border: 1px solid black;
}
.rest-container{
    display: flex;
    flex-wrap: wrap;
}
.btn-modify{
    margin: 5px;
}